.title-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.mat-mdc-card-title {
  font-size: 2rem;
  font-weight: bold;
}





